*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(8, 8, 8);
    width: 100%;
    height: 100%;
}
#michis{
    width: 100%;
    height: 100%;
}
#a{
    position: fixed;
    top: 50%;
    width: 65px;
    height: 65px;
    z-index: 10;
}
#a:hover{
    position: fixed;
    top: 50%;
    background-image:linear-gradient(135deg,#FF5D48,#FF5D48,#8400ff,rgb(0, 132, 255),rgb(141, 248, 0),rgb(255, 230, 0));
    width: 65px;
    height: 65px;
    z-index: 8;
    background-size: 500%;
    border-radius: 50%;
}